.text-a{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    font-weight: 600;  /*두께*/

    font-style: italic; /*기울임*/
    text-align: center;
    line-height: 30px;  /*줄의 크기*/

    text-decoration: underline;
    text-decoration: none;  /*데코 없애기*/
}