.header1{
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 15px;
    border-bottom: #d1d0d0;

    margin-left: 10px;
    margin-right: 10px;
}

button{
    border: none;
    background-color: white;
    border-radius: 50px;
}

button:hover{
    cursor: pointer;
    background: #d1d0d0;
}

.middle-section{
    margin: 10px;
}

.header2{
     height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
}

.main{
    font-weight: 700;
    line-height: 1.38;
    justify-content: center;
    text-align: center;

    margin-top: 50px;
}