table{
    width: 250px;
    height: 320px;
    border-radius: 10px;
    background-color: rgb(233, 233, 253);
    border-color: rgb(89, 89, 116);
}

.btn{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(200, 204, 221);
}
#area{
    width: 90%;
    resize: none;
    height: 10%;
    padding: 8px;
    font-size: 12px;
    border-radius: 10px;
    align-items: center;
    text-align: right;
    border-color: rgb(89, 89, 116);
    background-color: rgb(226, 226, 240);
}

.view{
    height: 15%;
    padding-left: 6px;
    background-color: rgb(233, 233, 253);
}

td{
    border: none;
}